@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Unicase&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap");
@import url("https://fontawesome.com/icons/");
@import url("https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap");
@font-face {
  font-family: 'samoyedo';
  src: url("/estilos/FLORLRG_-webfont.woff"); }

body {
  background-image: linear-gradient(to bottom, #314e52, #001514); }

.sticky {
  position: relative;
  position: sticky; }

/* NAV BAR */
.navbar {
  background-color: #314e52;
  z-index: 9999; }
  .navbar a {
    color: #314e52; }

.navbar__lista__listaSecciones {
  display: flex;
  flex-flow: row;
  align-content: flex-end;
  background-color: #314e52;
  padding: 10px; }

.navbar__logo__samo-logo {
  height: auto;
  width: 350px;
  min-width: 200px;
  max-width: 100%; }

.navbar__logo__samo-logo-mobile {
  display: none; }

.dropdown-menu {
  background-color: #e7e6e1 !important; }
  .dropdown-menu li a {
    padding-left: 10px;
    color: #001514; }

.btn-search {
  border: 1px #e7e6e1 solid !important;
  color: #f7f6e7 !important; }

#shoppingCart {
  text-decoration: none;
  color: #f7f6e7;
  font-size: 2rem;
  display: flex;
  padding-left: 10px;
  align-items: center; }
  #shoppingCart a {
    text-decoration: none;
    color: #f7f6e7; }

.badge {
  margin-left: 5px;
  font-weight: 400;
  transform: translateY(-3px) !important; }

/*TEXTOS Y SECCIONES */
body else {
  background-image: linear-gradient(to bottom, #314e52, #001514); }

/* BUCLES */
.card--1 {
  background-color: lightblue; }

.card--2 {
  background-color: #576c73; }

.card--3 {
  background-color: #3a484d; }

.btn--fondo {
  font-family: 'oswald', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: #f2a154;
  color: #f7f6e7; }

.btn--fondo2 {
  font-family: 'oswald', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: #c1292e;
  color: #f7f6e7; }

.btn--fondo3 {
  font-family: 'oswald', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: #5b8c5a;
  color: #f7f6e7; }

.txt-white {
  font-family: 'oswald', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #f7f6e7;
  text-align: center; }

.txt-gallery {
  display: flex;
  flex-flow: row wrap; }

.textForm {
  font-family: 'oswald', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: #001514;
  text-align: center; }

.secciones a {
  font-family: 'oswald', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 15px 0 0;
  color: #f7f6e7;
  font-weight: 500; }
  .secciones a :hover {
    color: tomato; }

.secciones li ul {
  position: absolute;
  display: none;
  z-index: 100; }

.samoyedo {
  font-family: 'samoyedo', Cormorant unicase, serif; }

.main__historia p {
  color: #f7f6e7;
  text-align: justify;
  text-justify: inter-cluster;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  padding: 0 20px; }

.titulo {
  position: relative;
  z-index: 999;
  align-items: center;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  color: #f7f6e7;
  text-shadow: 3px 0 #001514, 0 1px #001514, 1px 0 #001514, 0 -1px #001514; }

.stickyness {
  padding: 0;
  text-decoration: none;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 128px;
  z-index: 2; }

.stickyness--sidebar {
  top: 122px; }

/* Carousel */
.carou-img {
  max-height: auto; }

/* GALERIA */
.main__galeria {
  grid-area: galeria;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* width/: 100%; */ }
  .main__galeria img {
    min-height: auto;
    height: auto;
    min-width: 175px;
    width: 100%;
    transform: scale(0.9); }

.main__galeria__samofotos {
  margin: 0px; }

/* FORMULARIOS */
.formulario__bloque {
  background: lightblue; }

legend {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  max-width: 100%; }

.formulario {
  padding: 0;
  text-decoration: none;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 128px;
  z-index: 2; }
  .formulario fieldset {
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: center; }
  .formulario input {
    display: flex;
    padding: 0 30px; }
  .formulario ul {
    padding: 0; }
  .formulario li, .formulario a {
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    color: var(--dark);
    text-decoration: none;
    padding: 0;
    width: 100%;
    font-size: 0.9rem; }

.userInfo {
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%; }
  .userInfo input {
    width: 100%; }

.buttons {
  display: flex;
  width: 240px;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0; }
  .buttons input :hover {
    cursor: pointer; }

.formulario__bloque--altiancho {
  height: 350px; }

/* CALL TO ACTION */
.cta {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #e7e6e1;
  margin: 15px 0;
  color: #001514; }
  .cta h3 {
    color: #001514; }
  .cta p {
    text-align: justify;
    font-family: 'Oswald', sans-serif;
    text-justify: inter-cluster;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 0 20px; }

/* FOOTER */
footer {
  padding: 0;
  margin: 0;
  background: #001514;
  color: #e7e6e1;
  text-transform: uppercase;
  font-style: italic;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 40vh;
  font-size: 0.8rem; }
  footer a {
    text-decoration: none;
    color: #f7f6e7; }
  footer ul {
    display: flex;
    flex-flow: column;
    justify-items: flex-end;
    padding: 0px !important; }
  footer p {
    padding: 0;
    margin: 0; }

.fa {
  padding: 5px;
  font-size: 18px;
  width: 30px;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 1px 20px 0 rgba(0, 0, 0, 0.19); }

.fa-instagram {
  background: #125688;
  color: white; }

.fa-facebook {
  background: #3B5998;
  color: white; }

.rrss ul {
  display: flex;
  flex-direction: row; }

/* PERFIL */
.perfil__header {
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.3rem;
  align-items: center;
  margin-top: 15px; }

.perfil__header__antiguedad {
  font-family: 'Oswald', sans-serif;
  font-size: 0.8rem; }

.perfil__acordion__items {
  background-color: lightblue;
  font-family: 'Oswald', 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
  color: #314e52;
  font-size: 1.5rem;
  text-transform: uppercase; }

.perfil__samopuntos__fondo {
  background-color: #001514; }
  .perfil__samopuntos__fondo p {
    color: #f7f6e7;
    font-family: 'Oswald', 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    font-size: 2rem; }

.accordion-button:not(.collapsed) {
  color: #001514; }

/*SIDEBAR PRODUCTOS*/
.col-md-2 {
  padding: 0;
  width: auto; }

.mb-3 {
  margin: 5px; }

.sidebar__menu {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 355px;
  align-items: center;
  justify-content: space-evenly;
  background-color: #001514; }

.productos {
  justify-content: center; }

.productos__titulo__fondo {
  background-image: linear-gradient(to right, #001514, rgba(10, 87, 10, 0)); }

.productos__card {
  display: flex;
  max-width: 410px;
  justify-content: center; }
  .productos__card img {
    padding: 5px;
    max-width: 130px; }

.productos__card--maltas {
  max-width: 320px; }
  .productos__card--maltas img {
    padding-top: 5px;
    max-height: 215px; }

.card-body {
  display: flex;
  flex-direction: column; }

.card-body--maltas {
  height: 220px; }

.flex-column {
  align-items: center; }

/* CURSOS */
.cursos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }

body else {
  background-image: linear-gradient(to bottom, #314e52, #001514); }

/* BUCLES */
.card--1 {
  background-color: lightblue; }

.card--2 {
  background-color: #576c73; }

.card--3 {
  background-color: #3a484d; }

.btn--fondo {
  font-family: 'oswald', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: #f2a154;
  color: #f7f6e7; }

.btn--fondo2 {
  font-family: 'oswald', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: #c1292e;
  color: #f7f6e7; }

.btn--fondo3 {
  font-family: 'oswald', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: #5b8c5a;
  color: #f7f6e7; }

/* MEDIA QUERIES */
@media only screen and (min-width: 920px) {
  #title {
    display: none; }
  .navbar__logo__samo-logo {
    width: 350px;
    height: auto; } }

@media only screen and (max-width: 767px) {
  .navbar {
    height: auto; }
  .navbar__logo__samo-logo {
    display: none; }
  .navbar__logo__samo-logo-mobile {
    display: block;
    width: 70px;
    height: auto; }
  .txt-gallery {
    display: flex;
    flex-direction: column; }
  .foto {
    width: 10px;
    height: 10px; }
  #sidebar-menu {
    display: none; }
  #perfil-menu {
    display: none !important; }
  .productos__titulo__fondo {
    background-color: #001514; }
  .productos__card {
    display: flex;
    justify-content: center; }
  legend {
    font-size: 1.5rem; } }

@media only screen and (min-width: 990px) and (max-width: 1086px) {
  .stickyness--sidebar {
    top: 116px; } }
