/* ANIMACIONES */

.fade-in{
    animation: fadeIn 5s ease-in-out 0s;
}

@keyframes fadeIn {
  0% { 
    color: $gris;
    opacity: 0; }
  100% { 
    color: $dark;
    opacity: 1;}
}

@-webkit-keyframes fadeIn {
  0% { 
    color: $gris;
    opacity: 0; }
  100% { 
    color: $dark;
    opacity: 1;}
}

