/* CONTACTO */
@import 'opsReutilizables';

.bg-img-contacto{
  background-image: url('../media/montanas.jpg');
  background-size: cover;
}

.contacto__texto{
  background-color:rgba(243, 243, 243, 0.70);
  border-radius: 5px;
  width: 62%;
  margin: auto;
  p{
    text-transform: initial;
  }
}


