/* FOOTER */
@import 'txtSecciones';

footer{
  padding: 0;
  margin: 0;
  color:$gris;
  @include text-format;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: auto;
  font-size: 0.8rem;
  a{
    text-decoration: none;
    color: $blanco;
  }
  ul{
    display: flex;
    flex-flow: column;
    justify-items: flex-end;
  }
  p{
    padding: 0;
    margin: 0;
  }
}

.fa {
  padding: 5px;
  font-size: 18px;
  width: 30px;
  max-width: 100%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 1px 20px 0 rgba(0,0,0,0.19)
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}

.rrss {
  ul{
    display:flex;
    flex-direction: row;
    padding: 0px;
    li{
      margin-right: 5px;
      list-style: none;
    }
  }
}

.footer__informacion__contacto{
  display: flex;
  flex-flow: column;
  margin: 0px;
  justify-content: space-evenly
}

.footer__informacion__sitemap{
  padding-top:10px;
}