/* FORMULARIOS */
@import 'opsReutilizables';

*{
  // border: 1px red dotted;
}

.formulario__bloque{
  background: rgba(226, 255, 213, 0.84);
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
}

.formulario__bloque--home{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 78vh;
  .btn--fondo5{
    color: $alert
  }
}

.login-home{
  @include fl-col;
  height: 80%;
  justify-content: space-between;
  align-items: center;
}

.formulario__contacto__container{
  width: 60vw;
  margin: auto
}

.legend {
  @include text-format;
  text-align: center;
  font-size: 2rem;
  max-width: 100%;
}

.formulario {
  padding: 0;
  text-decoration: none;
  text-align: center;
  width: 100%;
  position: sticky;
  top: 128px;
  z-index:2;
  fieldset{
    @include fl-col;
    justify-items: flex-end;
    align-items: center;
  }
  input{
    display: flex;
    padding: 0 30px;
  }
  ul{
    padding: 0;
  }
  li, a{
    list-style-type: none;
    font-family: 'Oswald', sans-serif;
    color: var(--dark);  
    text-decoration: none;
    padding: 0;
    width: 100%;
    font-size: 0.9rem;
  }
}

.signup-form{
  @include fl-col;
  align-items: center;
}

.bg-img-signup{
  background-image: url('../media/snow_grass-min.jpg');
  background-size: cover;
  background-position: center bottom;
}

.userInfo{
  height: auto;
  @include fl-col;
  text-align: center;
  width: 100%;
  input{
    width: 70%;
    margin: auto;
  }
}

.buttons{
  display: flex;
  width: 180px;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0;
  input{
    :hover{
      cursor: pointer;
    }
  }
}

.buttons--signup{
  width: 200px;
  justify-content: space-between;
}

.formulario__sidebar__beneficios__detalles{
  p{
    font-size: 0.8rem;
  }
}

.formulario__sidebar__beneficios__detalles__lista{
  margin-top: 10px;
  font-size: 0.9 rem;
}

.form-switch{
  border: 1px red dotted;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal{
  z-index: 100000;
}

.boton__modal{
  height:auto;
  width: auto;
  font-size: 0.8rem;
}

.modal-body{
  padding: 0 10px;
}