/* GALERIA */
.main__galeria{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex-basis: 1;
  img{
    min-height:auto;
    height: auto;
    min-width: 175px;
    width: 100%; 
    transform: scale(0.9);
    flex-shrink: 1;
  }
}

.main__galeria__samofotos{
  margin: 0px;
}