/* MEDIA QUERIES */

@media only screen and (max-width: 668px) {
  .main__historia__titulo {
    font-size: 1.3rem;
  }
  
  #cta-logo {
    display: none;
  }
  
  .productos{
    margin: 10px
  }
  
  .cursos__texto__cta {
    p{
      color: $blanco;
      font-family: 'Oswald', sans-serif;
      font-size: 0.8rem;
      padding: 0 10px;
      margin: 10px 0px;
    }
  }
  
  .cursos__texto__cta__invitacion{
    p{
      text-align: justify;
      text-justify: inter-cluster;
      font-family: 'Oswald', Arial, Helvetica, sans-serif;
      color: $dark;
      font-size: 1.1rem;
    }
  }
} 

@media only screen and (min-width: 920px) {
  #title{
    display: none;
  }
  
  .navbar__logo__samo-logo{
    width: 350px;
    height: auto;
  }
}
/*iPhone 6/7/8*/
@media only screen and (max-width: 767px) {
  .navbar{
    height: auto;
  }
  
  .navbar__logo__samo-logo{
    display: none
  }
  
  .navbar__logo__samo-logo-mobile{
    display: block;
    width: 70px;
    height: auto;
  }
  
  .txt-gallery{
    display: flex;
    flex-direction: column;
  }
  
  .foto{
    width: 10px;
    height: 10px;
  }
  
  #sidebar-menu{
    display: none;
  }
  
  #perfil-menu{
    display:none!important;
  }
  
  .productos__titulo__fondo{
    background-color: $dark;
  }
  
  .legend{
    font-size: 1.5rem;
  }

  .carou-img, .carou-img2, .carou-img3, .carou-img4 {
    height: 50vh;
  }
}

/*iPad Pro*/
@media only screen and (min-width: 990px) and (max-width: 1086px){
  .stickyness--sidebar{
    top:116px;
  }

  .carou-img, .carou-img2, .carou-img3, .carou-img4 {
    height: 50vh;
  }
}

/*iPad Comun*/
@media only screen and (min-width: 768px) and (max-width: 1000px){
  .boton__modal {
    display: none;
  }

  .sidebar__menu {
    height: 81vh;
  }

  .carou-img, .carou-img2, .carou-img3, .carou-img4 {
    height: 50vh;
  }
}

/*Pantallas grandes*/
@media only screen and (min-width: 1500px) {
  .sidebar__menu {
    height: 90vh;
  }

  .sidebar__list {
    font-size: 1.2rem;
  }
}