$holiday: false;
$Oktoberfest: rgba(218, 138, 47, 0.979);

body {
  @if $holiday == true {
    background-image: linear-gradient(to bottom, $Oktoberfest, $dark);
  } else {
    background-image: linear-gradient(to bottom, #314e52, $dark);
  }
}

@mixin text-format {
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}


/* BUCLES */

@for $cartas from 1 through 3 {
  $color-fondo: #add8e6;
  .card--#{$cartas} {background-color: $color-fondo / $cartas}
}

@for $duracion from 1 through 7 {
  $segundos: 0s;
  .fade-in-#{$duracion} {
    animation: fadeIn 3s ease ($segundos + $duracion) forwards;
    -o-animation: fadeIn 3s ease ($segundos + $duracion) forwards;
    -moz-animation: fadeIn 3s ease ($segundos + $duracion) forwards;
    -webkit-animation: fadeIn 3s ease ($segundos + $duracion) forwards;
  }
}

$coloresBtn: (
  fondo: $hover,
  fondo2: $alert,
  fondo3: $confirm,
  fondo4: $dark
);

@each $fondo, $color in $coloresBtn{
  .btn--#{$fondo} {
    @include text-format;
    background-color: $color;
    color: $blanco;
  }
}

