/* PERFIL */

.perfil__header{
  display: flex;
  flex-flow: column nowrap;
  font-size: 1.3rem;
  align-items:center;
  margin-top: 15px;
  background-color:rgba(243, 243, 243, 0.70);
  border-radius: 5px;
  width: 80%;
  margin: auto;
  padding: 10px
}

.perfil__header__antiguedad{
  font-family: 'Oswald', sans-serif;
  font-size: 0.8rem;
}

.perfil__acordion__items{
  background-color: rgba(226, 255, 213, 0.664);
  font-family: 'Oswald', 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
  color: $fondo;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.perfil__samopuntos__fondo{
  background-color: $dark;
  p{
    color: $blanco;
    font-family: 'Oswald', 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    font-size: 1.5rem;
  }
}

.accordion-button:not(.collapsed){
  color:$blanco;
  background-color: $dark;
}

.accordion-button:focus{
  border: $dark;
  box-shadow: none;
}

.perfil{
  padding: 20px 50px;
}

.bg-img-perfil{
  background-image: url('../media/beer_background.jpg');
  background-size: cover;
  background-position: right top;
}

a:hover{
  color: $blanco;
}

.accordion-body {
  p{
    text-align: center;
  }
}