$dark: #001514; 
$fondo: #314e52; 
$hover: #f2a154; 
$alert: #c1292e; 
$confirm: #5b8c5a;
$blanco: #f7f6e7;
$gris: #e7e6e1;
$fondo-cartas: #3a484d;

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase&display=swap');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
@import url("https://fontawesome.com/icons/");
@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap');
@font-face {
  font-family: 'samoyedo';
  src: url('/estilos/FLORLRG_-webfont.woff');
};

body{
  background-image: linear-gradient(to bottom, #314e52, $dark);
}

.sticky{
  position: relative;
  position: sticky;
}

.row-margin-reset{
  margin: 0;
}

::-webkit-scrollbar {
  width:5px
}

::-webkit-scrollbar-track {
  background-color: $fondo;
}

::-webkit-scrollbar-thumb{
  background: rgba(0, 0, 0, 0.979);
  border-radius: 10px;
}

@import 'index';
@import 'navbar';
@import 'txtSecciones';
@import 'carousel';
@import 'formulario';
@import 'callToAction';
@import 'footer';
@import 'perfil';
@import 'productos-sidebar';
@import 'cursos';
@import 'opsReutilizables';
@import 'mediaQueries';
@import 'animation';
@import 'contacto';